.container {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    max-width: 100%;
    height: 100vh;
    background-color: white;
    font-family: 'NanumMyeongjo';
}

.content_cotainer {
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬하기 위해 column으로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 90%;
    height: 90%;
    background-color: rgba(240, 244, 255, 1);
}

.logo {
    margin-top: 100px;
}

.word_count_box {
    margin-top: 100px;
    border-radius: 30px;
    background-color: #fff;
    width: 220px;
    height: 110px;
    display: flex;
    font-size: 50px;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-bottom: 20px;
    font-weight: 1000;
}

.des_container {
    display: flex;
    margin-bottom: 20px;
    font-size: 24px;
    flex-direction: column; /* 요소들을 세로로 정렬하기 위해 column으로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.game_start_btn {
    /* 시작하기 버튼*/
    margin-top: 20px;
    border-radius: 30px;
    background-color: rgba(146, 157, 255, 1);
    color: #fff;
    font-size: 50px;
    width: 300px;
    height: 130px;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.footer {
    margin-top: 100px;
}

.footer_text {
    /* position: absolute; */
    color: grey;
    font-family: 'hunminjungum';
    display: flex;
    text-align: left;
    font-size: 30px;
}
