.strictContainer {
    display: flex;
    flex-wrap: wrap;
}
.strictElement {
    flex-direction: row-reverse;
    border-radius: 10px;
    width: 30px;
    height: 25px;
    margin: 2px;
    position: relative;
}
.weekName {
    width: 40px;
    height: 25px;
    display: flex;
    margin: 2px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: "pretendard";
    font-weight: bold;
}
