.container {
  height: 100%;
  padding: 22px 50px;
  box-sizing: border-box;
}
.box {
  width: 100%;
  background-color: #fff;
  display: flex;
}

.head {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 22px 30px 12px 40px;
}
.head::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: calc(100% - 70px);
  height: 1px;
  background-color: rgb(0, 0, 0, 0.1);
  bottom: 0;
}
.head h3 {
  display: flex;
  align-items: center;
  font-family: "hunminjungum";
  font-weight: 400;
  font-size: 30px;
}
.head img {
  display: block;
  width: 16px;
  margin-right: 22px;
}

.content {
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  width: 100%;
  /* max-height: calc(100% - 50px); */
  height: 700px;
  height: calc(100% - 50px);
  overflow-y: scroll;
}
.cardContainer {
  background-color: red;
  height: calc(100% - 50px);
}
.cardContainer li {
  /* margin-bottom: 30px; */
}
.cardNews {
  width: 100%;
  height: 300px;
}
.cardNews img {
  width: 40%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
