.container {
    width: 100%;
    height: 100%;
    /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.caption {
    font-family: "hunminjungum";
    padding: 10px 0;
    cursor: pointer;
    font-size: 0.9rem;
}
.last_seen_container,
.last_solved_container {
    height: 40%;
    box-sizing: border-box;
}
.preview {
    box-sizing: border-box;
    /* height: 90%; */
    height: 80%;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    position: relative;
    background-color: hsla(260, 65%, 85%, 0.5);
}
.preview .date {
    padding: 10px;
}
.preview img {
    display: block;
    margin-right: 20px;
    width: 15%;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.body {
    font-family: "Pretendard-Regular";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title {
    font-weight: bold;
    font-size: 1.1rem;
}
.hashtag {
    display: flex;
    gap: 10px;
}
.hashtag .item {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: whitesmoke;
    color: #4d4d4d;
}
.date {
    font-family: "Pretendard-Regular";
    position: absolute;
    right: 8px;
    bottom: 5px;
    color: #525252;
    font-size: 13px;
}
.last_solved_container {
    margin-top: 20px;
}
.last_solved_container .preview {
    background-color: hsla(40, 100%, 80%, 0.5);
}

.empty_preview {
    width: 100%;
    display: flex;
    color: gray;
    font-weight: bold;
    font-family: "Pretendard-Regular";
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
