.container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "hunminjungum";
  box-sizing: border-box;
  padding: 20px 0 0 160px;
}
.king {
  left: 0;
  top: 0;
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: #1c1b1b;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* 내부가 넘치는 경우를 방지하기 위해 overflow 속성을 hidden으로 설정 */
  /* overflow: hidden; */
}
.king::before {
  content: "";
  position: absolute;
  top: -17px;
  right: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 90px 92px 28px;
  border-color: transparent #fff transparent transparent; /* 삼각형의 색상 설정 */
  transform: rotate(90deg); /* 삼각형을 180도 회전하여 방향을 바꿈 */
}
.king img {
  position: absolute;
  left: 78px;
  top: 3px;
  width: 50px;
}

.name {
  /* margin-bottom: 60px; */
  /* font-size: 36px; */
  font-size: 1.5rem;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.email {
  font-size: 20px;
  color: #b7b5b5;
  padding-bottom: 5px;
  font-size: 0.8rem;
}
.hashtag {
  padding-top: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */
  gap: 0.5rem;
}
.hashtag .item {
  font-size: 1rem;
  color: #d65757;
  font-weight: bold;
}
