.quiz-container {
  width: 40%;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.quiz-content {
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
}

.container {
  font-family: "Pretendard-Regular";
  margin: 0 26px;
  /* flex-grow: 1; */
  /* padding: 100px 80px; */
  margin-top: 50px;
  margin-left: 50px;
  box-sizing: border-box;
  width: 40%;
}

.question {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  word-break: keep-all;
  display: flex;
  gap: 10px;
}

.case-container {
  font-size: 1.2rem;
  font-weight: 400;
}
.case {
  margin-top: 30px;
  padding-left: 25px;
  display: flex;
  cursor: pointer;
}
.case__number {
  margin-right: 10px;
  position: relative;
}
.answer::before {
  content: "";
  position: absolute;
  border: 3px solid #ff0000;
  border-radius: 100%;
  /* padding: 3px;
  padding: 7px 3px; */
  padding: 15px 15px;
  width: 30px;
  height: 30px;
  left: -6px;
  bottom: -3px;
  /* padding-bottom: 10px; */
  box-sizing: border-box;
}
.case__item {
  line-height: 1.6rem;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 25px;
}

.next-btn {
  cursor: pointer;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  border-radius: 20px;
  background-color: #493971;
  border: none;
  color: #fff;
  font-family: "Pretendard-Regular";
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.next-icon img {
  width: 10px;
  cursor: pointer;
}
