.container {
  width: 1733px;
  height: 1080px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 25px 44px;
}

/* layout */
.dashboard {
  width: 1660px;
  height: 1027px;
}

.dashboard__top {
  height: 588px;
  display: flex;
  border-radius: 15px;
  gap: 20px;
  margin-bottom: 26px;
}

.dashboard__top__first {
  width: 736px;
  border-radius: 15px;
}
.dashboard__top__second {
  width: 926px;
  border-radius: 15px;
}

.dashboard__bottom {
  height: 413px;
  display: flex;
  gap: 37px;
}

.dashboard__bottom__first {
  width: 1111px;
  border-radius: 15px;
}
.dashboard__bottom__second {
  width: 534px;
  border-radius: 15px;
}
.padding-item {
  box-sizing: border-box;
  padding: 21px 50px;
}

.title {
  font-family: "hunminjungum";
  font-size: 30px;
  font-weight: bold;
}

.wordcloud {
  width: 100%;
  height: 465px;
  background-color: #d6e3f8;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 40px 25px;
}
.boxshadow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state {
  width: 100%;
  height: 314px;
  background-color: #d6e3f8;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .user {
  width: 100%;
  height: 220px;
  margin-top: 10px;
} */
.streak {
  width: 100%;
  height: 220px;
  background-color: white;
  margin-top: 40px;
}
