.container {
  min-width: 1300px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-container {
  width: 90%;
  height: 90%;
  display: flex;
  background-color: red;
  background-color: #fff;
  padding: 40px 0 35px 60px;
  box-sizing: border-box;
}
.news-content {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 3rem;
}
.date {
  font-size: 20px;
  color: #4d4d4d;
  text-align: end;
  padding-right: 30px;
}
.hashtag {
  display: flex;
}
.hashtag-item {
  background-color: #d1c2f2;
  padding: 6px 17px;
  border-radius: 20px;
  color: #fff;
}
.img {
  text-align: center;
  margin: 50px 0;
}
.img img {
  width: 50%;
  object-fit: cover;
  text-align: center;
}
